<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'restaurant/images/restau.jpg' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>{% block title %}Menu Guy{% endblock %}</title>
  </head>
  <style>
    .category-list {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      padding: 10px;
    }
    .category-item {
      flex: 0 0 auto;
      padding: 10px 15px;
      border-radius: 20px;
      background-color: #f8f9fa;
      margin-right: 10px;
      cursor: pointer;
    }
    .menu-item {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
      text-align: center;
    }
  </style>
  {% load static %}
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="{% static 'restaurant/images/restau.jpg' %}"
            alt="Restaurant Logo"
            width="80"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Accueil</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</html>
