{% extends 'base.html' %} {% block title %} MenuGuy|Login {% endblock title %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-4">
      <div class="card p-4 shadow">
        <h2 class="text-center">Se Connecter</h2>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="phone" class="form-label">Numero de Télephone</label>
            <input
              id="phone"
              type="text"
              class="form-control"
              name="phone"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input
              id="password"
              type="password"
              class="form-control"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Connecter</button>
        </form>
        <div class="text-center mt-3">
          Vous n'avez pas de compte?
          <a href="{% url 'signup' %}">Créer un compte</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
