{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container mt-4">
  <h2 class="text-center">Welcome to</h2>
  <div class="text-center">
    <img
      src="{% static 'restaurant/images/restau.jpg' %}"
      alt="Restaurant Logo"
      width="150"
    />
  </div>

  <!-- Cart and Menu Navigation -->
  <div class="d-flex justify-content-between mt-3">
    <h4>Menu</h4>
    <a href="#" class="btn btn-primary">Cart </a>
  </div>

  <!-- Category Scrolling -->
  <div class="category-list mt-3">
    {% for category in categories %}
    <div class="category-item" onclick="filterMenu('{{ category.id }}')">
      {{ category.name }}
    </div>
    {% endfor %}
  </div>

  <!-- Menu Items -->
  <div class="row mt-4">
    {% for item in menu_items %}
    <div class="col-md-4 menu-item" data-category="{{ item.category.id }}">
      <div>
        {% if item.image %}
        <img
          src="{{ item.image.url }}"
          alt="{{ item.name }}"
          class="menu-image"
        />
        {% else %}
        <img
          src="/static/default-image.jpg"
          alt="No Image"
          class="menu-image"
        />
        {% endif %}
      </div>
      <h5>{{ item.name }}</h5>
      <p>${{ item.price }}</p>

      <a href="#" class="btn btn-success">Add to Cart</a>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  function filterMenu(categoryId) {
    document.querySelectorAll(".menu-item").forEach((item) => {
      if (
        item.getAttribute("data-category") === categoryId ||
        categoryId === "all"
      ) {
        item.style.display = "block";
      } else {
        item.style.display = "none";
      }
    });
  }
</script>
{% endblock content %}
